@import "bootstrap-sprockets";
@import "bootstrap";

#contact-card {
    margin-top: 50px;
}

.contact-list-text {
    margin-left: 10px;
}

#contact-gravatar {
    padding-right: 25px;
}

.form-button {
    margin-top: 15px;
}

.form-control {
    margin-bottom: 15px;
}

#gravatar {
    margin-bottom: 10px;
}

header {
    background-color: #F0F0F5;
    padding-left: 10px;
    padding-right: 10px;
}

.new-contact-button{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
}

#page-content {
    margin-left: 5px;
}
