<% if logged_in? %>
    <%= link_to(logout_path) do %>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        Log out
    <% end %>
<% else %>
    <%= link_to(login_path) do %>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        Log in
    <% end %>
<% end %>
